body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.form-popup {
    display: none;
}

#statusForm {
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

#grid-container>div {
    border: 5px solid rgb(3, 59, 14);
    border-radius: 10px;
    background-color: rgb(240, 227, 199);
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: 800;
    background-color: #0a7954;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px gray;
}

button:hover {
    background-color: #04442f;
}

button:active {
    background-color: #04442f;
    box-shadow: 0 5px rgb(78, 78, 78);
    transform: translateY(4px);
}

.addBookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    gap: 50px;
}

#title {
    text-align: center;
    background-color: #0a7954;
    color: white;
}

input,
select {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 8px 0;
}



input:invalid,
select:invalid {
    background-color: #dbad95;
}

input:valid,
select:valid {
    background-color: #95db9e;
}

#bookForm {
    background-color: rgb(240, 227, 199);
    border: 5px solid rgb(3, 59, 14);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}