body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.form-popup {
    display: none;
}

#statusForm {
    display: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

ul {
    list-style-type: none;
}

#grid-container>div {
    border: 1px solid blue;
    background-color: aliceblue;
    padding: 20px;
    margin: 10px;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: 800;
    background-color: #0a7954;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px gray;
}

button:hover {
    background-color: #04442f;
}

button:active {
    background-color: #04442f;
    box-shadow: 0 5px rgb(78, 78, 78);
    transform: translateY(4px);
}

.addBookContainer {
    display: flex;
    justify-content: center;
}